*{
    padding: 0;
    margin: 0;
    
    box-sizing: border-box;
}

body {
    font-family:"Roboto";
}
section,aside{
    padding: 1em;
}

aside{
    background-color: #2E5077;
    display: grid;
    grid-template-columns: 1fr;
}

section{
    background-color: #4DA1A9;
}
footer{
    background-color: #611C35;
}

.menu{
    background-color: #4DA1A9;
}
.menu:hover{
    background-color: aquamarine;
}

#mainFrame{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-auto-rows: minmax(100px,auto);
}
#logo{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

#menu{
    display: grid;
    grid-template-columns: 1fr;
}

